{% comment %} Data in the HTML head: character set, viewport, icon, font, styles, and SEO tags. {% endcomment %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#f9f8f6">
<meta name="author" content="{{ site.author.name | escape }}">
<link rel="icon" type="image/svg+xml" href="{{ '/assets/favicon.svg' | relative_url }}">
<link rel="preload" href="{{ '/assets/fonts/inter-latin-400-normal.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}">
{% seo %}
